.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 90;
  display: none;
}
.overlay.active {
  display: block;
}
/*==================================THẺ SIDEBAR BÊN TRÁI ==============================================*/
.left-slide {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 260px;
  background-color: var(--white);
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  transition: transform 0.3s ease;
  overflow-y: auto;
}

.left-slide .logo {
  padding: 0.8rem;
  border-bottom: 1px solid var(--black);
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.left-slide .nav-bar-title {
  padding: 0.5rem 0;
}

.left-slide .nav-bar-title ul {
  padding: 0;
  margin: 0;
}

.nav-bar-title ul li a {
  padding: 0.75rem 1.25rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: var(--grey);
  transition: all 0.2s;
}

.nav-bar-title ul li a:hover {
  background: var(--blue-black);
  color: var(--white);
}

/* .nav-bar-title ul li a.active {
  background: var(--blue-black);
  color: var(--white);
} */
/*==================================THẺ HEADER TRÊN ĐẦU ========*/

header {
  /* position: sticky; */
  top: 0;
  background: var(--white);
  z-index: 90;
  padding: 1.3rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header .menu-toggle {
  display: none;
  color: var(--black);
  cursor: pointer;
}

header .search-bar {
  padding: 0.5rem 1rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  margin: 0 1rem;
}

header .user-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.user-info .avatar {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  border-radius: 50%;
}

.avatar i {
  color: var(--white);
}
@media (max-width: 768px) {
  .left-slide {
    transform: translateX(-100%);
  }
  .left-slide.active {
    transform: translateX(0);
  }
  #right-content {
    margin-left: 0;
  }
  header {
    justify-content: space-between;
  }
  header .menu-toggle {
    display: block;
  }
}
