<div class="left-slide">
  <div class="logo">
    <h1>HELLO KURUMI ADMIN</h1>
  </div>
  <nav class="nav-bar-title">
    <ul>
      <li>
        <a href="dashboard.html" class="active"
          ><i class="fas fa-home"></i> Tổng quan</a
        >
      </li>

      <li>
        <a href="manage_users.html"
          ><i class="fas fa-users"></i> Quản lý người dùng</a
        >
      </li>

      <li>
        <a href="manage_courses.html"
          ><i class="fas fa-book"></i> Quản lý khóa học</a
        >
      </li>

      <li>
        <a href="paying.html"
          ><i class="fas fa-file-alt"></i> Quản lý doanh thu</a
        >
      </li>

      <li>
        <a href="reports.html"
          ><i class="fas fa-chart-bar"></i> Báo cáo & Thống kê</a
        >
      </li>
    </ul>
  </nav>
</div>
