#btnconfirm {
    background-color: #0BDA51;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    cursor: pointer;
    border-radius: 6px;
}
#btnconfirm:hover {
  background-color: #32CD32;
}


#btnwhite {
  background-color: white;
  color: #6a4de9;
  border: 2px solid #6a4de9;
  transition: all 0.3s ease;
  border-radius: 6px;
  padding: 10px 20px;
  cursor: pointer;
}
#btnwhite:hover {
  background: linear-gradient(45deg, #6a4de9, #6a4de9);
  color: white;
  transform: translateY(-2px);
}

#btnblue {
    background-color: var(--blue-);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
}
#btnblue:hover {
  background: linear-gradient(45deg, #6a4de9, #6a4de9);
}


