:root {
  --color-video: #0c93f4;
  --color-live: #ec407a;
  --color-text-video-live: #fff;
  --background-color: #f9f5fa;
  --color-item: #fff;
  --color-left-li: #ffcfdc;
  --color-left-li-def: #696a70;
  --color-li-active: #f40c44;
  --color-left-li-active-border: #fff5f7;
  --shadow-item: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

* {
  color: black;
}

.main-content {
  width: 100%;
}

.content-course {
  display: flex;
  background-color: var(--background-color);
}

.menu-slide-bar {
  min-height: 500px;
  border-top-right-radius: 2rem;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.078);
  background-color: var(--color-item);
}

.menu-category {
  display: flex;
  flex-direction: column;
}

.menu-slide-bar #menu-icon {
  width: 260px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* gap: 10px; */
  padding: 12px 16px;
  cursor: pointer;
}

#menu-icon .img-menu {
  width: 40px;
  height: 40px;
  clip-path: circle(50%);
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-menu img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  color: wheat;
}

#menu-icon span {
  font-weight: 600;
}
.menu-category .categorys {
  max-height: 500px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  /* display: block; */
}

.menu-category .categorys.active {
  max-height: 0;
  /* display: none; */
}

.menu-category .categorys ul {
  padding: 12px 16px;
  margin: 0;
}

.menu-category .categorys ul li {
  padding: 8px 12px;
  border-radius: 2rem;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-left-li-def);
  transition: 0.1s ease-in-out 1 forwards;
  cursor: pointer;
}

.menu-category .categorys ul li.active {
  background-color: #fff;
  color: var(--color-li-active);
  border-radius: 1rem;
  background-color: var(--color-left-li-active-border);
}

.menu-category .categorys ul li:hover {
  background-color: #fff;
  color: var(--color-li-active);
  border-radius: 1rem;
  background-color: var(--color-left-li-active-border);
}

.list-courses {
  width: 100%;
  padding: 3rem 24px 40px;
}

.list-courses .title-search {
  width: 100%;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  gap: 3rem;
}

.title-search .title {
  font-size: 20px;
  font-weight: 600;
}

.title-search .search {
  display: flex;
  gap: 10px;
}

.search input {
  border-radius: 5px;
}

.search button {
  border-radius: 5px;
  cursor: pointer;
}
.list-course {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  column-gap: 24px;
}

.list-course .item-course {
  padding-top: 24px;
  max-width: 100%;
}

/* Ẩn các khóa học từ thứ 13 trở đi */
.list-course .item-course:nth-child(n + 13) {
  display: none;
}

.item-course .item-course-panel {
  padding: 8px;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  background: var(--color-item);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: var(--shadow-item);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.item-course .item-course-panel:hover {
  transform: translateY(-10px);
}

.item-course-panel .image-course {
  width: 100%;
}

.image-course img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.course-info {
  line-height: 24px;
  font-size: 16px;
}

.course-info .name-course {
  font-weight: 600;
  margin-bottom: 8px;
  height: 100px;
}

.course-info .course-tag {
  margin: 8px 0px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.course-tag .course-tag-item i,
.course-tag .course-tag-item span {
  font-size: 10px;
  color: var(--color-text-video-live);
}

.course-tag .course-tag-item span {
  font-weight: 600;
}

.course-info .course-tag-item {
  border-radius: 5px;
  padding: 2px 4px;
  background-color: var(--color-video);
}

.course-tag .course-tag-item.live {
  background-color: var(--color-live);
}

.course-price {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 1170px) {
  .list-course {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
  }
}

@media (max-width: 990px) {
  .list-course {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
  }
  .list-courses .title-search {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }
}

@media (max-width: 768px) {
  .list-courses {
    padding-left: 16px;
    padding-right: 16px;
  }
  .content-course {
    flex-direction: column;
  }
  .menu-slide-bar #menu-icon {
    width: 100%;
  }
  .menu-slide-bar {
    min-height: 0px;
  }
}

@media (max-width: 575px) {
  .list-course {
    column-gap: 16px;
  }

  .item-course {
    padding-top: 16px !important;
  }
  .title-search .search {
    display: flex;
    gap: 10px;
  }
}

@media (max-width: 379px) {
  .search button {
    font-size: 13px;
  }
}
