body{
    padding: 0;
    width: 100%;
    background-color: var(--gray-);
}
.suggested-courses{
    display: flex;
    gap:10px;
    margin-bottom: 20px;
}
.content{
    display: flex;
    width: 100%;
    
    padding: 0;
    margin-top: 20px;
    gap:20px
}
.hot-topic{
    display: flex;
    flex-direction: column;
    flex:1;
    gap: 10px;
}
.practice{
    flex:1;
    
    
}

.hot-topic-item{
    display: flex;
    padding: 10px;

    
}
.hot-topic-item-img{
    border-radius: 4px;
    height: 100px;
    width: 100px;
    background-image: url(../img/img_GUI/096dabbf-65c6-4096-bc72-ddc405f6b795.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hot-topic-item-content{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap:10px;
}
