body {
  background-color: #f0f4f8;
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}

hr {
  border-radius: 50%;
  height: 0.125rem;
  color: blue;
}

image {
  justify-content: center;
  align-items: center;
}

.question-anwser {
  background-color: #fff;
  padding: 1.875rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
  flex: 1;
  margin: 0 auto;
}

.question-anwser h2 {
  font-size: 1.5rem;
  margin-bottom: 0.625rem;
  color: #333;
  text-align: center;
}

.question-anwser p {
  font-size: 1.125rem;
  margin-bottom: 1.25rem;
  color: #555;
}

.question-anwser label {
  display: block;
  margin-bottom: 0.9375rem;
  font-size: 1rem;
  cursor: pointer;
  color: #222;
}

.question-anwser input[type="radio"] {
  margin-right: 0.625rem;
  transform: scale(1.2);
}

.select-question {
  margin-top: 2.5rem;
  text-align: center;
  max-width: 12.5rem;
}

.select-question span {
  font-weight: bold;
  font-size: 1.125rem;
  display: block;
  margin-bottom: 0.625rem;
}

.select-question ul {
  list-style: none;
  display: flex;
  justify-self: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.625rem;
  padding: 0;
  margin: 0;
}

.select-question li {
  background-color: #007bff;
  color: white;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.select-question li:hover {
  background-color: #0056b3;
}